{% extends 'base.html' %}
{% load static %}

{% block title %} Post Update {% endblock title %}

{% block content %}
    <div class="px-4 py-2 w-[720px]">

        <div class="mb-4 py-2 flex justify-between border-b border-custom">
            <h1 class="text-2xl font-bold">Update Post</h1>
        </div>

        {% for error in form.non_field.errors %}
            <p class="text-red-500">{{ error }}</p>
        {% endfor %}

        <div class="my-2">
            <label for="id_editable_title">Title</label>
            <input type="text" id="id_editable_title" class="" value="{{form.title.value}}">
            {% for error in form.title.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>
            
        <div class="my-2">
            <label for="id_editable_content">Content</label>
            {% include 'blog/widgets/rich_text_editor.html' with rich_text_content=form.content.value %}
            {% for error in form.content.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>
            
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="title" id="id_title" hidden>
            <textarea name="content" id="id_content" hidden></textarea>
            <div class="mt-4 py-2 border-t border-custom">
                <button onclick="submitForm()" class="px-2 py-1 rounded-md text-white bg-blue-500 dark:bg-blue-500">Submit</button>
            </div>
        </form>
            
    </div>

{% endblock content %}
